<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/Diabetes_Blood_Sugar_Tracker/public/entrypagestyle.css" rel="stylesheet" type="text/css">
    <title>Blood Sugar Tracker</title>
</head>
<body>
    <div id = "outer_container">
        <div id = "inner_container">    
            <h1>Blood Sugar Tracker</h1>
                <p>An app for diabetics</p>
                <form action = "/api/login" method = "post"></form>
                    <input id = "email" type = "text" name = "email" placeholder = "email">
                    <input id = "pword" type = "text" name = "password" placeholder = "password">
                    <input type = "submit" value = "Login">
                </form>
                <p><input id = "loggedin" type = "checkbox" name="keeploggedin">Keep me logged in</p>
                <p> <a href = "">Forgot</a> my password.</p>
                <p> <a href = "">Create</a> an account.</p>
        </div>
    </div>
</body>
</html>